$blue: #aee1f2;
$green: #c8eee0;
$yellow: #fbf5be;
$orange: #ffc8a1;
$pink: #f9cfcf;
$lilac: #e3c8ef;

$background: #fffcf8;
$white-text: #ffffff;
$dark-blue-text: #2b526e;
$blue-wells: #5e9cad;
$coral: #f5ad98;
$golden: #e5c9a3;
$green-2: #9ebdad;
$grey: #152429;
$placeholders: #331e01;
$light-grey: #eef0f4;
